body
{
    background-color: bisque;
    margin: 0px;
    padding: 0px;
    background-image: url(./images/arkaplan.jpg);
}
h1
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#baslik
{
    width: 1285px;
    border: 2px solid black;
    padding: 30px;
   height: 100px; 
}
#basliksol
{  float: left;
    width: 285px;
}
#basliksag
{
    width: 1000px;
    text-align: center;
}
#menu
{
	width:1345px;
	height:50px;
	border: #000 double 2px;
	border-top: 0px;
    background-color: cadetblue;
}
#yataymenu
{
	margin:0px;
	padding:0px;
	list-style-type:none;
	margin-left:30px;
	
}
#yataymenu li
{
	width:210px;
	float:left;
	position:relative;
}
#yataymenu a
{
	font-size:18px;
	color:black;
	text-decoration:none;
	background-color: cadetblue;
	display:block;
	text-align:center;
	line-height:40px;
	margin:5px;
	transition-duration:0.5s;	
}
#yataymenu a:hover
{
	background-color: cadetblue;
	color:#FFF;
}
#icerik
{
    width: 1345px;
    height: 700px;
    border: 2px solid black;
    border-top: 0px;
    background-color: lightgrey;
}
#icerikust
{
    height: 350px;
    width: 1345px;
    border: 2px solid black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
#icbaslik
{
    text-align: center;
    font-size: 20px;
    border-bottom: 1px dashed black;
    background-image: url(arkaplan.jpg);
}
p
{
    margin-left: 5px;
}
img{ float: left;}
#icerikaltsol
{ 
    float: left;
    height: 350px;
    width: 403px;
}
#icerikaltsag1
{   float:right;
    height: 173px;
    width: 940px;
    border: 2px solid black;
    border-top: 0px;
    border-right: 0px;
}
#icerikaltsag2
{   float:right;
    height: 173px;
    width: 940px;
    border: 2px solid black;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
}
#altkısım
{
    width: 1285px;
    border: 2px solid black;
    border-top:0px;
    padding: 30px;
    text-align: center;

}